.resource-operation{

  padding: 30px 0px !important;

  .operation-method{
    font-size:100%;
    font-weight: normal;
  }

  .title{


    font-size:150%;
    font-weight: normal;
    color:#444 !important;
    cursor: pointer;
  }

  .sub-title{

    font-size:110%;
    font-style: italic;
    font-weight: normal;
    color:#666 !important;
    cursor: pointer;
  }

  .resource-operation-response{

  }


}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content:"\e080";
}
