.resource-operation{
  padding: 20px;
  margin: 50px;

  .operation-method{
    font-size:100%;
    font-weight: normal;
  }

  .title{

    padding: 10px;
    font-size:150%;
    font-weight: normal;
    color:#444 !important;
    cursor: pointer;
  }

  .sub-title{
    position:absolute;
    padding-left: 50px;
    padding-top: 10px;
    font-size:110%;
    font-style: italic;
    font-weight: normal;
    color:#666 !important;
    cursor: pointer;
  }

  .resource-operation-response{

  }
}
