<ul class="list-unstyled">

<li  ng-repeat="resource in resources"ng-if="resource.name == apiName">
    <ul class="list-unstyled">
      <li class="" ng-repeat="op in resource.operations">

        <div class="col-md-8">
          <div id="{{op.operationId}}" class="resource-operation">
            <div class="row">
              <div class="col-md-2">
                  <span class="label {{label(op.httpMethod)}} operation-method" ng-bind="op.httpMethod"></span>
              </div>
              <div class="col-md-10 no-padding">
                <span class="title">{{op.summary}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 col-md-offset-2">
                <span class="sub-title">{{op.description}}</span>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'header').length > 0">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Headers</div>
                  <div class="panel-body">
                    <div ng-if="header.in == 'header'" class="col-md-12" ng-repeat="header in getParamType(op, 'header')">
                      <div class="col-md-5 text-right">{{header.name}}</div>
                      <div class="col-md-1"><b>type</b></div>
                      <div class="col-md-5 text-left">{{header.type}}</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'header').length == 0">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Headers</div>
                  <div class="panel-body">
                      <i>No Headers</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'url').length > 0">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Query</div>
                  <div class="panel-body">
                    <div class="col-md-12">
                      <span ng-bind="getUrl(getParamType(op, 'url'))"></span>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'url').length == 0">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Query</div>
                  <div class="panel-body">
                    <div class="col-md-12">
                      <i>No url Params</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'body').length > 0 && op.method != 'get'">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Body</div>
                  <div class="panel-body">
                    <div class="col-md-12" ng-repeat="body in getParamType(op, 'body')">
                      <pre>{{ body.schema.json }}</pre>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="getParamType(op, 'body').length == 0 && op.method != 'get'">
              <div class="col-md-12">
                <div class="panel panel-default" >
                  <div class="panel-heading">Body</div>
                  <div class="panel-body">
                    <i>No Body</i>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <uib-tabset class="resource-operation" active="active">
            <uib-tab heading="{{code}}" ng-repeat="(code,resp) in op.responses track by $index">
                <pre>{{resp.schema.json }}</pre>
            </uib-tab>
          </uib-tabset>

        </div>

      </li>
    </ul>
  </li>
</ul>
